#!/bin/sh
# config script for bacula-dir ( SQLite flavor )
#
# by Jose Luis Tallon <jltallon@adv-solutions.net>

. /usr/share/debconf/confmodule
db_version 2.0

db_title "Bacula Director"

set -e

CATALOG="/var/lib/bacula/bacula.db"

case "$1" in
    configure)
	if [ ! -f "$CATALOG" ]; then
		db_input medium bacula-director-sqlite3/create_tables || true
		db_go
	fi
	
	db_input medium bacula-director-sqlite3/remove_catalog_on_purge || true
	db_go
    ;;

    reconfigure)
	if [ ! -f "$CATALOG" ]; then
		touch $CATALOG
		chown bacula:bacula $CATALOG
	fi
	if [ ! -n "sqlite3 $CATALOG .tables" ]; then 
		db_input medium bacula-director-sqlite3/create_tables || true
		db_go
	fi

	db_input medium bacula-director-sqlite3/remove_catalog_on_purge || true
	db_go
    ;;

    *)
	echo "config called with unknown argument \$1'" >&2
	exit 0
    ;;
esac

