#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_version 2.0
db_capb backup

db_input high bacula/sgbd || true

STATE=1
while [ "$STATE"  != 0 -a "$STATE" -lt 10 ]
  do
  case "$STATE" in
      1)
          db_input critical bacula/db_host || true
          if db_go; then
              db_get bacula/db_host || true
              if [ ! -z "$RET" ]; then
                  STATE=2
              fi
          else
              STATE=1
          fi
          ;;

      2)
          db_input critical bacula/dba_name || true
          if db_go; then
              db_get bacula/dba_name || true
              if [ ! -z "$RET" ]; then
                  STATE=3
              fi
          else
              STATE=2
          fi
          ;;

      3)
          db_input critical bacula/dba_password || true
          if db_go; then
              db_get bacula/dba_password || true
              STATE=4
          else
              STATE=3
          fi
          ;;

      4)
          db_input critical bacula/dba_confirm || true
          if db_go; then
              db_get bacula/dba_confirm || true
              CONFIRM="$RET"
              db_get bacula/dba_password || true
              if [ "$RET" != "$CONFIRM" ]; then
                  STATE=5
              else
                  STATE=6
              fi
          else
              STATE=3
          fi
          ;;

      5)
          db_input critical bacula/mismatch || true
          db_go
          STATE=3
          ;;

      6)
          db_input critical bacula/dbu_name || true
          if db_go; then
              db_get bacula/dbu_name || true
              if [ ! -z "$RET" ]; then
                  STATE=7
              fi
          else
              STATE=6
          fi
          ;;

      7)
          db_input critical bacula/dbu_password || true
          if db_go; then
              db_get bacula/dbu_password || true
              STATE=8
          else
              STATE=7
          fi
          ;;

      8)
          db_input critical bacula/dbu_confirm || true
          if db_go; then
              db_get bacula/dbu_confirm || true
              CONFIRM="$RET"
              db_get bacula/dbu_password || true
              if [ "$RET" != "$CONFIRM" ]; then
                  STATE=9
              else
                  STATE=10
              fi
          else
              STATE=7
          fi
          ;;

      9)
          db_input critical bacula/mismatch || true
          db_go
          STATE=7
          ;;

  esac
done

if [ "$STATE" = 0 ]; then
    db_input critical bacula/notconfigured || true
    db_go
    exit 1
fi
