#!/bin/sh
# config script for bacula-dir ( MySQL flavor )
#
# by Jose Luis Tallon <jltallon@adv-solutions.net>

. /usr/share/debconf/confmodule
db_version 2.0

db_title "Bacula Director"

set -e

CATALOG="bacula"

case "$1" in
        configure)

                db_beginblock
			db_input medium bacula-director-mysql/db_host || true
			db_input medium bacula-director-mysql/db_user || true
			db_input medium bacula-director-mysql/db_password || true
                db_endblock
                db_go

		db_input medium bacula-director-mysql/create_tables || true
		db_go

		db_get bacula-director-mysql/create_tables
		if [ "$RET" = "true" ]; then		
		    db_beginblock
                	db_input medium bacula-director-mysql/mysql_root_username || true
			db_input medium bacula-director-mysql/mysql_root_password || true
		    db_endblock
		    db_go
		fi

		db_input medium bacula-director-mysql/remove_catalog_on_purge || true
		db_go
        ;;

	reconfigure)
		# We have all dependencies configured, so we can be a bit more clever :)
		#
		db_beginblock
			db_input medium bacula-director-mysql/host || true
			db_input medium bacula-director-mysql/user || true
			db_input medium bacula-director-mysql/password || true
		db_endblock
		db_go

		db_get bacula-director-mysql/db_host; MYSQL_HOST="$RET";
		db_get bacula-director-mysql/db_user; MYSQL_USER="$RET";
		db_get bacula-director-mysql/db_password; MYSQL_PSWD="$RET";
		if [ "$MYSQL_HOST" != "localhost" ]; then
			MYSQL_HOST_STRING="-h $MYSQL_HOST"
		fi
		if [ -z "$MYSQL_PSWD" ]; then 
			MYSQL_CMD="mysql $MYSQL_HOST_STRING -u $MYSQL_USER";
                else 
			MYSQL_CMD="mysql $MYSQL_HOST_STRING -u $MYSQL_USER -p$MYSQL_PSWD"; 
		fi

		# if mysql-client is not available, there's no point in
		# trying to configure ... yes?
		# test -x /usr/bin/mysql || exit 0

		RESULT=`$MYSQL_CMD $CATALOG -e 'show tables' 2>&1`;
                case $RESULT in
			"")	# No output => success, no tables
				db_input medium bacula-director-mysql/create_tables || true
                                db_go

				db_get bacula-director-mysql/create_tables;
				if [ "$RET" = "true" ]; then
					db_beginblock
					db_input medium bacula-director-mysql/mysql_root_username || true
					# db_input medium bacula-director-mysql/mysql_root_password || true
					db_endblock
					db_go
				fi

                        ;;

			"ERROR 1045:"*) # Access denied
				#echo "ERROR: Access denied to MySQL server!" >>/dev/fd/2
				exit 0
                        ;;

			"ERROR 1049:"*)	# Unknown database
				db_input medium bacula-director-mysql/create_tables || true
                                db_go

				db_get bacula-director-mysql/create_tables;
				if [ "$RET" = "true" ]; then
					echo "create database $CATALOG;" | $MYSQL_CMD;
					db_beginblock
                                        db_input medium bacula-director-mysql/mysql_root_username || true
                                        db_input medium bacula-director-mysql/mysql_root_password || true
                                        db_endblock
                                        db_go
				fi
			;;

			"ERROR "*)	# unknown error!
				#echo "ERROR: MySQL returned and unknown error code!" >>/dev/fd/2
				exit 1
			;;
			*)		# output => some tables do exist
				#echo "Some tables exist in Database $CATALOG. Doing nothing." >> /dev/fd/2
				exit 0
			;;
		esac
 

		db_input medium bacula-director-mysql/remove_catalog_on_purge || true
		db_go
	;;

        *)
                echo "config called with unknown argument \$1'" >&2
                exit 0
        ;;
esac

exit 0
