#!/bin/sh
# config script for bacula-director (SQLite3 flavor)

. /usr/share/debconf/confmodule
db_version 2.0

# source dbconfig-common shell library, and call the hook function
if [ -f /usr/share/dbconfig-common/dpkg/config.sqlite3 ]; then
  dbc_first_version=3.0.3-3
  dbc_dbuser=bacula
  dbc_dbname=bacula.db
  dbc_basepath=/var/lib/bacula
  . /usr/share/dbconfig-common/dpkg/config.sqlite3
  # Remove the following lines post-squeeze and replace with simple
  #dbc_go bacula-director-sqlite3 $@
  DB="$dbc_basepath/$dbc_dbname"
  if [ -f "$DB" ] && file "$DB" | grep -q "SQLite 2"; then
      # This will be upgraded in postinst.  Have to pass fake old
      # version to dbc_go.  See comments in bacula-director-sqlite3.postinst
      dbc_go bacula-director-sqlite3 "$1" 2.4.4-1
  else
      dbc_go bacula-director-sqlite3 $@
  fi
fi

db_title "Bacula Director"

set -e

case "$1" in
        configure)
        ;;

	reconfigure)
        ;;

        *)
                echo "config called with unknown argument \$1'" >&2
                exit 0
        ;;
esac

exit 0
