Source: bacula
Section: admin
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: John Goerzen <jgoerzen@complete.org>
Build-Depends: autotools-dev, debhelper (>= 4.2), po-debconf (>= 0.8.2), 
 zlib1g-dev, libreadline5-dev | libreadline-dev,
 libsqlite0-dev, libsqlite3-dev, libmysqlclient-dev, libpq-dev, 
 postgresql-server-dev-8.4, libwrap0-dev, python-dev, libgtk2.0-dev (>= 2.10),
 libgnome2-dev, libacl1-dev, libkrb5-dev, libgnomeui-dev,
 libx11-dev, mtx, bc, libxt-dev, dpkg-dev (>= 1.13.19), libqt4-dev, libqwt5-qt4-dev
Build-Conflicts: python2.2-dev, python2.3, python2.4, python2.5, qt3-dev-tools
Standards-Version: 3.8.0
Vcs-Browser: http://git.debian.org/?p=users/jgoerzen/bacula
Vcs-Git: git://git.debian.org/git/users/jgoerzen/bacula
Homepage: http://www.bacula.org/

Package: bacula
Architecture: all
Depends: bacula-server, bacula-client
Suggests: bacula-doc
Description: network backup, recovery and verification - meta-package
 Bacula is a set of programs to manage backup, recovery and verification
 of computer data across a network of computers of different kinds.
 .
 It is efficient and relatively easy to use, while offering many advanced
 storage management features that make it easy to find and recover lost or
 damaged files. Due to its modular design, Bacula is scalable from small
 single computer systems to networks of hundreds of machines.
 .
 This meta-package installs the entire suite of Bacula applications: job
 scheduling, storage control, node connector, and administrative console.

Package: bacula-common
Replaces: bacula-director-common
Architecture: any
Pre-Depends: debconf (>= 1.4.30) | debconf-2.0, adduser (>= 3.0)
Depends: ${shlibs:Depends}
Suggests: bacula-doc
Description: network backup, recovery and verification - common support files
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 This package provides files that are useful for other Bacula packages.

Package: bacula-director-common
Architecture: any
Pre-Depends: debconf (>= 1.4.30) | debconf-2.0, bacula-common (= ${binary:Version})
Depends: ${shlibs:Depends}, adduser, mailx, gawk
Description: network backup, recovery and verification - Director common files
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 The Bacula Director service supervises all the backup, restore, verify and
 archive operations. It can run as a daemon or as a foreground service which
 administrators can use to schedule backups and recover files.
 .
 This package provides common files for the Bacula Director daemon.

Package: bacula-director-sqlite
Architecture: any
Pre-Depends: debconf (>= 1.4.30) | debconf-2.0
Depends: bacula-director-common (= ${binary:Version}), sqlite, ${shlibs:Depends}
Conflicts: bacula-director
Provides: bacula-director
Replaces: bacula-director
Description: network backup, recovery and verification - SQLite storage for Director
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 The Bacula Director service supervises all the backup, restore, verify and
 archive operations. It can run as a daemon or as a foreground service which
 administrators can use to schedule backups and recover files.
 .
 This version stores Bacula's catalog in an SQLite database, and thus is
 suited for smaller installations.
 
Package: bacula-director-sqlite3
Pre-Depends: debconf (>= 1.4.30) | debconf-2.0
Architecture: any
Depends: bacula-director-common (= ${binary:Version}), sqlite3, ${shlibs:Depends}
Conflicts: bacula-director
Provides: bacula-director
Replaces: bacula-director
Description: network backup, recovery and verification - SQLite 3 storage for Director
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 The Bacula Director service supervises all the backup, restore, verify and
 archive operations. It can run as a daemon or as a foreground service which
 administrators can use to schedule backups and recover files.
 .
 This version stores Bacula's catalog in an SQLite 3 database, and thus is
 suited for smaller installations.
 
Package: bacula-director-mysql
Architecture: any
Pre-Depends: debconf (>= 1.4.30) | debconf-2.0
Depends: bacula-director-common (= ${binary:Version}), dbconfig-common (>= 1.8.19), mysql-client, libdbi-perl, libdbd-mysql-perl, ${shlibs:Depends}
Conflicts: bacula-director
Provides: bacula-director
Replaces: bacula-director
Recommends: mysql-server (>= 4.0)
Description: network backup, recovery and verification - MySQL storage for Director
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 The Bacula Director service supervises all the backup, restore, verify and
 archive operations. It can run as a daemon or as a foreground service which
 administrators can use to schedule backups and recover files.
 .
 This version stores Bacula's catalog in a MySQL server, and thus is suited
 for large installations.

Package: bacula-director-pgsql
Pre-Depends: debconf (>= 1.4.30) | debconf-2.0
Architecture: any
Depends: bacula-director-common (= ${binary:Version}), dbconfig-common (>= 1.8.19), postgresql-client (>= 7.4), ${shlibs:Depends}
Conflicts: bacula-director
Provides: bacula-director
Replaces: bacula-director
Recommends: postgresql-8.4 | postgresql (>= 7.4)
Suggests: postgresql-contrib, postgresql-doc
Description: network backup, recovery and verification - PostgreSQL storage for Director
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 The Bacula Director service supervises all the backup, restore, verify and
 archive operations. It can run as a daemon or as a foreground service which
 administrators can use to schedule backups and recover files.
 .
 This version stores Bacula's catalog in a PostgreSQL server, and thus is 
 suited for large installations.

Package: bacula-client
Architecture: all
Depends: bacula-console (>= ${source:Version}), bacula-fd (>= ${source:Version})
Suggests: bacula-traymonitor
Description: network backup, recovery and verification - client meta-package
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 The Bacula Director service supervises all the backup, restore, verify and
 archive operations. It can run as a daemon or as a foreground service which
 administrators can use to schedule backups and recover files.
 .
 The package is a meta-package for client installations (file daemon and
 console only).

Package: bacula-fd
Architecture: any
Depends: bacula-common (= ${binary:Version}), ${shlibs:Depends}
Suggests: bacula-traymonitor
Description: network backup, recovery and verification - file daemon
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 The file daemon has to be installed on the machine to be backed up. It is
 responsible for providing the file attributes and data when requested by
 the Director, and also for the file system-dependent part of restoration.

Package: bacula-server
Architecture: all
Depends: bacula-director-mysql (>= ${source:Version})|bacula-director, bacula-sd (>= ${source:Version}), bacula-sd-mysql (>= ${source:Version})|bacula-sd-tools
Recommends: bacula-fd
Description: network backup, recovery and verification - server meta-package
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 This meta-package provides a standard server install, consisting of the
 director and storage daemons.

Package: bacula-sd
Architecture: any
Pre-Depends: bacula-common (= ${binary:Version})
Depends: ${shlibs:Depends}, mtx, python
Recommends: bacula-sd-tools
Suggests: dds2tar, scsitools, sg3-utils, mt-st
Description: network backup, recovery and verification - storage daemon
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 The storage daemon performs the storage and recovery of the file
 attributes and data to the physical media; in other words, it is
 responsible for reading and writing the backups.
 .
 It runs on the machine which has access to the backup device(s) - usually
 a tape drive, but alternatively other storage media, such as files.

Package: bacula-sd-sqlite3
Architecture: any
Depends: bacula-sd (= ${binary:Version}), ${shlibs:Depends}
Conflicts: bacula-sd-tools, bacula-sd (<< 1.38.9)
Replaces: bacula-sd-tools, bacula-sd (<< 1.38.9)
Provides: bacula-sd-tools
Description: network backup, recovery and verification - SQLite 3 SD tools
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 The storage daemon performs the storage and recovery of the file
 attributes and data to the physical media; in other words, it is
 responsible for reading and writing the backups.
 .
 This package contains SQLite 3 versions of the bscan and bcopy utilities,
 which are used for recovery when Bacula's catalog is unavailable.

Package: bacula-sd-sqlite
Architecture: any
Depends: bacula-sd (= ${binary:Version}), ${shlibs:Depends}
Conflicts: bacula-sd-tools, bacula-sd (<< 1.38.9)
Replaces: bacula-sd-tools, bacula-sd (<< 1.38.9)
Provides: bacula-sd-tools
Description: network backup, recovery and verification - SQLite SD tools
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 The storage daemon performs the storage and recovery of the file
 attributes and data to the physical media; in other words, it is
 responsible for reading and writing the backups.
 .
 This package contains SQLite versions of the bscan and bcopy utilities,
 which are used for recovery when Bacula's catalog is unavailable.

Package: bacula-sd-mysql
Architecture: any
Depends: bacula-sd (= ${binary:Version}), ${shlibs:Depends}
Conflicts: bacula-sd-tools, bacula-sd (<< 1.38.9)
Replaces: bacula-sd-tools, bacula-sd (<< 1.38.9)
Provides: bacula-sd-tools
Description: network backup, recovery and verification - MySQL SD tools
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 The storage daemon performs the storage and recovery of the file
 attributes and data to the physical media; in other words, it is
 responsible for reading and writing the backups.
 .
 This package contains MySQL versions of the bscan and bcopy utilities,
 which are used for recovery when Bacula's catalog is unavailable.

Package: bacula-sd-pgsql
Architecture: any
Depends: bacula-sd (= ${binary:Version}), ${shlibs:Depends}
Conflicts: bacula-sd-tools, bacula-sd (<< 1.38.9)
Replaces: bacula-sd-tools, bacula-sd (<< 1.38.9)
Provides: bacula-sd-tools
Description: network backup, recovery and verification - PostgreSQL SD tools
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 The storage daemon performs the storage and recovery of the file
 attributes and data to the physical media; in other words, it is
 responsible for reading and writing the backups.
 .
 This package contains PostgreSQL versions of the bscan and bcopy utilities,
 which are used for recovery when Bacula's catalog is unavailable.

Package: bacula-console
Architecture: any
Pre-Depends: debconf (>= 1.4.30)
Depends: bacula-common (= ${binary:Version}), ${shlibs:Depends}
Description: network backup, recovery and verification - text console
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 The management console allows the administrator or user to
 communicate with the Bacula Director.
 .
 This package provides the text-interface version of the console.

Package: bacula-console-qt
Architecture: any
Pre-Depends: debconf (>= 1.4.30)
Depends: bacula-common (= ${binary:Version}), ${shlibs:Depends}
Description: Bacula Administration Tool Console
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 The management console allows the administrator or user to
 communicate with the Bacula Director.
 .
 This package provides the most advanced GUI to bacula: the Bacula
 Administration Tool (BAT) console.
 .
 This GUI interface has been designed to ease restore operations as much as
 possible as compared to the basic text console.

Package: bacula-traymonitor
Architecture: any
Depends: ${shlibs:Depends}, bacula-common (= ${binary:Version})
Suggests: kde|gnome-desktop-environment
Description: network backup, recovery and verification - tray monitor
 Bacula is a set of programs to manage backup, recovery and verification of
 data across a network of computers of different kinds.
 .
 This package provides a tray monitor for the Bacula backup system. It is
 FreeDesktop-compatible, which means it will work under both KDE and
 GNOME.
 .
 The monitor constantly displays Bacula's status.
