#!/usr/bin/make -f

#export DH_VERBOSE=1

DEB_HOST_ARCH_OS    ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

######################################################################

#INSTALLDIR := $(CURDIR)/debian/tmp-install
DBC := usr/share/dbconfig-common/data/

CONF_ALL	= --enable-smartalloc \
	--with-python --with-tcp-wrappers \
	--with-openssl \
	--with-libiconv-prefix=/usr/include --with-readline=/usr/include/readline \
	--disable-conio \
	--with-libintl-prefix=/usr/include --with-x \
	--docdir=\$${prefix}/share/doc/bacula-common \
	--htmldir=\$${prefix}/share/doc/bacula-common/html \
	--libdir=\$${prefix}/lib/bacula \
	--enable-batch-insert \
	--disable-bwx-console \
	--without-qwt \
	--enable-ipv6 \
	--with-dir-password=XXX_DIRPASSWORD_XXX \
	--with-fd-password=XXX_FDPASSWORD_XXX \
	--with-sd-password=XXX_SDPASSWORD_XXX \
	--with-mon-dir-password=XXX_MONDIRPASSWORD_XXX \
	--with-mon-fd-password=XXX_MONFDPASSWORD_XXX \
	--with-mon-sd-password=XXX_MONSDPASSWORD_XXX \
	--with-db-name=XXX_DBNAME_XXX \
	--with-db-user=XXX_DBUSER_XXX \
	--with-db-password=XXX_DBPASSWORD_XXX \
	--config-cache \
	--with-archivedir=/nonexistant/path/to/file/archive/dir \
	--sysconfdir=/etc/bacula --with-scriptdir=/etc/bacula/scripts \
	--sharedstatedir=/var/lib/bacula \
	--localstatedir=/var/lib/bacula \
	--with-pid-dir=/var/run/bacula --with-smtp-host=localhost \
	--with-working-dir=/var/lib/bacula/working \
	--with-subsys-dir=/var/lock \
	--with-sqlite3 \
	--with-mysql \
	--with-postgresql \
	--enable-tray-monitor \
	--enable-bat \
	--disable-rpath 


ifeq ($(DEB_HOST_ARCH_OS),kfreebsd)
CONF_ALL	+= --disable-acl --disable-xattr
endif

###########################################################################

# Macro to extract a here document and put it in place
# args: 1 -- db name, 2 -- file to extract, 3 -- version
define ext-upgrade
debian/patches-scripts/extract_here < $(2) > debian/bacula-director-$(1)/$(DBC)/bacula-director-$(1)/upgrade/$(1)/$(3)
endef

# Macro to upgrade db
# args: 1 -- db type
#       2 -- db version path (e.g. 10_to_11)
#       3 -- package version
define ext-upgrade-db
$(call ext-upgrade,$(1),$(CURDIR)/updatedb/update_$(LONGNAME_$(1))_tables_$(2).in,$(3))
endef

# Macro to process latest version upgrades for db
# args: 1 -- db type
#       2 -- package version
define ext-upgrade-latest-db
$(call ext-upgrade,$(1),$(CURDIR)/src/cats/update_$(LONGNAME_$(1))_tables.in,$(2))
endef

# Macro to extract a here document for install and put it in place
# args: 1 -- db name
define ext-install-db
debian/patches-scripts/extract_here < $(CURDIR)/src/cats/make_$(LONGNAME_$(1))_tables.in > debian/bacula-director-$(1)/$(DBC)/bacula-director-$(1)/install/$(1)
endef

%:
	dh $@

override_dh_clean:
	[ ! -f autoconf/config.guess.upstream ] || mv autoconf/config.guess.upstream autoconf/config.guess
	[ ! -f autoconf/config.sub.upstream ] || mv autoconf/config.sub.upstream autoconf/config.sub
	dh_clean

override_dh_shlibdeps:
	# Handle shlibs for the database packages specially so they get
	# the deps on the correct libraries.
	dh_shlibdeps -pbacula-sd-mysql -Lbacula-common-mysql
	dh_shlibdeps -pbacula-director-mysql -Lbacula-common-mysql
	dh_shlibdeps -pbacula-sd-sqlite3 -Lbacula-common-sqlite3
	dh_shlibdeps -pbacula-director-sqlite3 -Lbacula-common-sqlite3
	dh_shlibdeps -pbacula-sd-pgsql -Lbacula-common-pgsql
	dh_shlibdeps -pbacula-director-pgsql -Lbacula-common-pgsql
	# Now build all other shlibdeps.
	dh_shlibdeps -a -Nbacula-sd-mysql -Nbacula-director-mysql \
		-Nbacula-sd-sqlite3 -Nbacula-director-sqlite3 \
		-Nbacula-sd-pgsql -Nbacula-director-pgsql

override_dh_installinit:
	dh_installinit -pbacula-sd -- defaults 90 10
	dh_installinit -pbacula-fd -- defaults 91 9
	dh_installinit --name=bacula-director -pbacula-director-common --no-start -- defaults 92 8

override_dh_install:
	chmod 755 debian/additions/postinst-common
	chmod 755 debian/patches-scripts/extract_here
	dh_install
	######### dbconfig-common stuff
	# Sometimes the latest release doesn't have a copy of the data in updatedb.
	# Manually install those.  CHECK THIS FOR EACH NEW RELEASE, and move older
	# versions to an ext-upgrade-db line.
	#
	# lenny -> squeeze is 10 -> 12
	$(foreach db,$(VARIANTS),$(call ext-upgrade-db,$(db),10_to_11,3.0.0))
	$(foreach db,$(VARIANTS),$(call ext-upgrade-latest-db,$(db),5.0.0))   # 5.0.0 upgrade 11 to 12
	$(foreach db,$(VARIANTS),$(call ext-install-db,$(db)))

override_dh_installdocs:
	dh_installdocs -pbacula --link-doc=bacula-common
	dh_installdocs -Nbacula

#override_dh_installchangelogs:
#	dh_installchangelogs -Nbacula

override_dh_auto_configure:
	dh_auto_configure -- $(CONF_ALL)

override_dh_auto_build:
	# autoreconf doesn't work :-/
	mv autoconf/config.guess autoconf/config.guess.upstream
	mv autoconf/config.sub autoconf/config.sub.upstream
	cp /usr/share/misc/config.guess /usr/share/misc/config.sub autoconf/
	dh_auto_build --parallel

override_dh_auto_test:
