#include <winuser.h>
#include <winver.h>
#include "winres.h"
#include "../../version.h"

/* NB: Internationalization of this file will require some work... */
#define N_(s) s

/////////////////////////////////////////////////////////////////////////////
//
// Icons
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_BACULA              ICON    DISCARDABLE     "bacula.ico"
IDI_IDLE                ICON    DISCARDABLE     "idle.ico"
IDI_RUNNING             ICON    DISCARDABLE     "running.ico"
IDI_JOB_ERROR           ICON    DISCARDABLE     "error.ico"
IDI_JOB_WARNING         ICON    DISCARDABLE     "warn.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_TRAYMENU MENU DISCARDABLE
BEGIN
    POPUP "tray"
    BEGIN
        MENUITEM N_("&Status"),                     ID_STATUS
        MENUITEM N_("&Events"),                     ID_EVENTS
#ifdef properties_implemented
        MENUITEM N_("&Properties"),                 ID_PROPERTIES
#endif
        MENUITEM SEPARATOR
        MENUITEM N_("&About Bacula"),               ID_ABOUT
        MENUITEM SEPARATOR
        MENUITEM N_("&Close Bacula"),               ID_CLOSE
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,0,0
 PRODUCTVERSION 1,1,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0 //
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E0" // Lang=US English, CharSet=Windows Multiligual
        BEGIN
            VALUE "Comments", "by Kern Sibbald\0"
            VALUE "CompanyName", "            \0"
            VALUE "FileDescription", "Bacula File daemon for Win32\0"
            VALUE "FileVersion", VERSION "\0"
            VALUE "InternalName", "Bacula\0"
            VALUE "LegalCopyright", "Copyright Kern Sibbald, 1999-2006\0"
            VALUE "LegalTrademarks", "Licensed under GNU GPL 2.0\0"
            VALUE "OriginalFilename", "filed.exe\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "Bacula - Win32 Version\0"
            VALUE "ProductVersion", VERSION
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252 // US English, Multilingual
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BACULABMP           BITMAP  DISCARDABLE     "bacula.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
    IDI_BACULA              "Bacula"
END

/////////////////////////////////////////////////////////////////////////////
//
// Properties Dialog
//
#ifdef properties_implemented

IDD_PROPERTIES DIALOG DISCARDABLE  0, 0, 221, 204
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Bacula Properties"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      N_("&Cancel"),IDCANCEL,165,25,51,15
    DEFPUSHBUTTON   N_("&OK"),IDOK,165,5,51,15
    LTEXT           "No Properites yet",IDC_NONYET_LABEL,19,30,56,15,
                    SS_CENTERIMAGE
END
#endif

/////////////////////////////////////////////////////////////////////////////
//
// About Dialog
//

IDD_ABOUT DIALOG DISCARDABLE  0, 0, 250, 145
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Bacula"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,190,120,50,15
//  CONTROL         "\3", IDC_BACULABMP,"Static",SS_ICON | SS_CENTERIMAGE |
//                  SS_SUNKEN,7,5,73,65
#ifndef HAVE_MINGW
    CONTROL         IDB_BACULABMP,IDB_BACULABMP,"Static",SS_BITMAP|SS_SUNKEN,7,5,32,32
#endif

    LTEXT           N_("      by Kern Sibbald"),IDC_NAME,134,38,78,10
    LTEXT           N_("For more information, see:"),-1,115,60,100,10
    LTEXT           "         www.bacula.org",IDC_WWW,115,70,100,10
//    LTEXT           "                 ",-1,69,81,100,10
//    LTEXT           "                 ",-1,90,70,100,10
    LTEXT           "Copyright (C) 1999-2006, Kern Sibbald",IDC_COPYRIGHT,7,120,175,10
    LTEXT           N_("Licensed under GNU GPL 2.0."),IDC_TRADEMARK,7,130,175,10
    RTEXT           N_("Build Date:"),-1,108,24,42,8
    RTEXT           N_("Bacula Version:"),-1,100,9,50,8
    LTEXT           VERSION,IDC_VERSION,159,10,65,8
    LTEXT           BDATE,-1,159,24,65,10

END

/////////////////////////////////////////////////////////////////////////////
//
// Status Dialog
//

IDD_STATUS DIALOG DISCARDABLE  0, 0, 411, 244
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION N_("Bacula Status")
FONT 8, "Courier New"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,355,5,51,15
    LISTBOX         IDC_LIST, 2, 2, 350, 240, WS_VSCROLL | WS_HSCROLL | WS_BORDER
END

/////////////////////////////////////////////////////////////////////////////
//
// Events Dialog
//

IDD_EVENTS DIALOG DISCARDABLE  0, 0, 411, 204
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION N_("Bacula Events")
FONT 8, "Courier New"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,355,5,51,15
    LISTBOX         IDC_LIST, 2, 2, 350, 200, WS_VSCROLL | WS_HSCROLL | WS_BORDER
END
